.mainContainer {
  padding: 0 24px;
  .sectionHeaeder {
    height: 100vh;
    width: 100%;
    margin: -70px 0 0 0;
    .imageBackground {
      display: block;
      position: absolute;
      inset: 0px;
      top: -70px;
      left: 0;
      height: 100vh;
      z-index: -1;
      filter: brightness(0.8);

      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
    }
    .informationContainer {
      position: absolute;
      top: -70px;
      left: 0;
      justify-content: flex-start;
      display: flex;
      align-items: center;
      max-width: 940px;
      height: 100vh;
      padding: 0 24px;
      margin: 0px auto 0px 30px;
      text-align: left;
      div {
        max-width: 600px;
        h1 {
          color: rgb(255, 255, 255);
          font-size: 50px;
          font-weight: 700;
          letter-spacing: -1px;
          line-height: 1.1;
          text-transform: uppercase;
        }
        a {
          font-size: 16px;
          font-weight: 500;
          color: rgb(255, 255, 255);
          cursor: pointer;
          margin-top: 20 px;
          text-decoration: underline;
          text-transform: capitalize;
        }
      }
    }
  }
  .category {
    // max-width: 1200px;
    width: fit-content;
    margin: 0 auto;
    padding: 80px 0;
    h2 {
      font-size: 24px;
      line-height: 26px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 0 40px 0;
    }
    .sneakersSection {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
  }
  .categoryButton {
    margin: 20px 0 0 0;
    a {
      cursor: default;
    }
  }
  .aboutSection {
    display: flex;
    justify-content: center;
    // width: 100%;
    background-color: var(#{--black-white-default});
    padding: 40px 30px;
    box-sizing: border-box;
    width: calc(100% + 48px);
    position: relative;
    left: -24px;

    .itemContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 540px;
      margin: 10px;
      h2 {
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        margin: 30px 0 10px;
      }
      p {
        // margin: 0 0 20px;
        margin: 0;
        color: rgb(129, 129, 129);
        font-size: 12px;
        line-height: 1.33;
      }
      .imageContainer {
        width: 100%;
        height: 325px;
        overflow: hidden;

        img {
          width: 100%;
          height: 325px;
          object-fit: cover;
          filter: grayscale(0.7);
          transition: 0.2s;
          &:hover {
            transform: scale(1.01);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .mainContainer {
    padding: 0 10px;
    .aboutSection {
      padding: 20px;
    }
    .informationContainer {
      h1 {
        font-size: 40px !important;
      }
    }
    .category {
      padding: 45px 0;
      h2 {
        margin: 0 0 20px 0;
      }
      .sneakersSection {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
    }
  }
  .aboutSection {
    flex-direction: column;
    align-items: center;
    left: -15px !important;
    width: calc(100% + 24px) !important;

    .itemContainer {
      margin: 10px 10px 30px 10px;
      h2 {
        margin: 10px 0 5px 0 !important;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .mainContainer {
    .informationContainer {
      margin: 0 auto 0 0 !important;
      padding: 10px !important;
      h1 {
        font-size: 24px !important;
      }
    }
    .category {
      .sneakersSection {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
      }
    }
  }
}
