.cartContainer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
  height: inherit;
  animation: fadeUp 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;

  h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0.67 em 0;
    margin: auto;
  }

  .totalOreder {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: var(#{--components-background-default});
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
    p {
      margin: 0;
      padding: 0;
    }
  }
  .buttonContainer {
    padding: 30px 0px 50px 0;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 500px) {
  .cartContainer {
    padding: 0 10px;
  }
}
