.orderSummary {
  max-width: 800px;
  padding: 0 24px;
  width: -webkit-fill-available;
  margin: 0px auto 50px auto;

  h2 {
    text-align: center;
    margin: 20px 0 30px;
    padding: 0;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .userInformation {
    display: flex;
    flex-direction: column;
    background-color: var(#{--components-background-default});
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    label {
      text-transform: uppercase;
      color: rgb(129, 129, 129);
      margin-bottom: 5px;
      font-size: 10px;
    }
    input {
      width: 100%;
      height: 45px;
      background-color: #f9f9f9;
      border: 1px solid rgb(231, 231, 231);
      padding: 15px 13px;
      margin-bottom: 20px;
      outline: none;
      font-size: 16px;
      &::placeholder {
        color: #c2c2c2;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: #c2c2c2;
      }

      &::-ms-input-placeholder {
        color: #c2c2c2;
      }
    }
  }
  .confirmButton {
    width: 100%;
    margin: 20px auto 0;
    text-align: center;

    button {
      margin: auto;
      font-size: 14px;
      font-weight: bold;
      height: 50px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;
      background-color: var(#{--filter-button-default});
      border: 1px solid rgb(0, 0, 0);
      color: var(#{--body-text-color-default});
      transition: 0.2s;
      &:hover {
        background-color: var(#{--heart-background-default});
      }
      &:active {
        background-color: var(#{--sizePicker-disable-background-default});
        transform: scale(0.97);
      }
    }
  }

  .orderConfitmedContainer {
    padding: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h2 {
      margin: 0 0 10px 0;
    }
    span {
      color: #818181;
      font-size: 14px;
      line-height: 16px;
    }
    .backToMain {
      a {
        margin: 50px 0 0 0;
        font-size: 14px;
        color: var(#{--heart-fill-default});
        opacity: 0.8;
        transition: 0.2s;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .orderSummary {
    padding: 0 10px;
  }
}
