.sneakersContainer {
  padding: 0 0 40px 0;
  .sneakersHeader {
    text-align: center;
    margin: 0 0 40px 0;
    background-color: var(#{--components-background-default});
    padding: 80px 24px;
    h1 {
      font-size: 24px;
      line-height: 26px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 0 0.67em 0;
    }
    p {
      max-width: 800px;
      margin: 12px auto;
      font-size: 12px;
      line-height: 16px;
      color: rgb(129, 129, 129);
    }
  }
  .sneakersSection {
    display: grid;
    grid-template-columns: 250px 1fr;
    padding: 0 24px;
    max-width: 940px;
    margin: 0 auto;
  }
  h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 30px 0;
  }
}

@media only screen and (max-width: 760px) {
  .sneakersContainer {
    .sneakersSection {
      display: block;
    }
  }
}

@media only screen and (max-width: 500px) {
  .sneakersContainer {
    padding: 0 0 10px 0;

    .sneakersHeader {
      padding: 40px 10px;
      margin: 0 0 20px 0;
      h1 {
        font-size: 20px;
      }
    }
    .sneakersSection {
      padding: 10px;
    }
    h3 {
      margin: 0 0 20px 0;
    }
  }
}
