.switchContainer {
  width: 100%;
  height: 100%;
  cursor: pointer;
  div {
    margin: 3px;
    width: 24px;
    height: 24px;
    // z-index: 1;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
