.emptyCartContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    color: #a7a7a7;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
  }
  .boxImage {
    filter: saturate(0);
    margin: auto 0 auto 10px;
    img {
      max-width: 70px;
    }
  }
}

@media only screen and (max-height: 650px) {
  .emptyCartContainer {
    position: relative;
    height: 300px;
  }
}
